@{
    ViewBag.Title = "Giới thiệu";
}
@section sectionTitle{
    <span>GIỚI THIỆU</span>
}
@section contentPage{
    <span>Giới thiệu</span>
}
<style type="text/css">
    li.bot {
        font-size: large;
        letter-spacing: 3px;
    }
</style>
<h3>High School Student's Companion - Người bạn đồng hành của học sinh</h3>
<ol>
    <li class="bot">Thời khóa biểu</li>
    <li class="bot">Nhắc lịch</li>
    <li class="bot">Gợi ý học bài bằng AI</li>
    <li class="bot">Trắc nghiệm hệ thống hóa kiến thức</li>
    <li class="bot">Thi thử</li>
    <li class="bot">Sổ tay học tập</li>
    <li class="bot">Kỹ năng sống</li>
    <li class="bot">Châm ngôn mỗi ngày</li>
</ol>
<h3>Tác giả: Phạm Như Ngọc, Lê Phan Hà Phương</h3>
<h3>Trường THCS Lý Tự Trọng, Quận Sơn Trà, Thành phố Đà Nẵng</h3>
