@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section sectionTitle{
    <span>THỜI KHÓA BIỂU</span>
}
@section contentPage{
    <span>Thời khóa biểu</span>
}
<iframe src="~/Calendar" style="width:100%;min-height:455px;" scrolling="no">
</iframe>
