@{
    ViewBag.Title = "Liên hệ";
}
@section sectionTitle{
    <span>LIÊN HỆ</span>
}
@section contentPage{
    <span>Liên hệ</span>
}
<h2>Liên hệ</h2>
<h3>Phạm Như Ngọc - Lê Phan Hà Phương</h3>

<address>
    Trường THCS Lý Tự Trọng<br />
    Quận Sơn Trà, Thành phố Đà Nẵng<br />
    <abbr title="Phone">Điện thoại:</abbr>
    0969555489<br />
    <strong>Email: <a href="mailto:lalaylee@gmail.com">Lê Phan Hà Phương</a> </strong> -
    <strong><a href="mailto:phamnhungoc@gmail.com">Phạm Như Ngọc</a><br /></strong>
</address>