
@{
    ViewBag.Title = "PomoTimer";
}
@section sectionTitle{
    <span>POMODORO TOMATO</span>
}
@section contentPage{
    <span>Pomodoro tomato timer</span>
}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top:-60px;">
            <iframe src="~/pomodoro/index.html" scrolling="no" frameborder="0" style="max-height:600px; width:100%;min-height:600px;">
            </iframe>
        </div>
    </div>
</div>
